[2017-08-16 23:40] jygh98 opened #1 "Create Notebook to obtain past egauge readings in the DHHL project"
Eileen pointed out readings are still missing for DHHL egauges. We were unsure how to execute Forrest script manually to retrieve past data, so I tried using the code **locally** to see how it could be done. [A page on the wiki was added documenting the process](https://github.com/erdl/scrape-util/wiki/Manually-Running-Scrape-Util-to-Retrieve-Past-Data).

[2017-08-16 23:46] jygh98 opened #2 "Missing data due to server going read-only mode"
When the server went to read-only mode, our cron jobs was also affected and for that, we have a short span of missing data between 8/14/2017 11:17 AM to 8/16/2017 10:25 AM.

[2017-08-17 00:20] jygh98 commented on #1
## Setup

After cloning the scrape-util locally, open up \tmp and create a new directory called projects.  Within projects, you will be copying any of the project folders into it as found on the server.  In our case for egauges, i went ahead and copied dhhl, marine-center-egauge, maui-egauge, and uhm-frog.

![dsda](https://user-images.githubusercontent.com/25787662/29390355-1e4598e2-8283-11e7-98ff

[2017-08-17 02:39] carlosviansi commented on #2
@jygh98 can you also specify how you obtained the time stamps? We need to work on methods to inspect holes in the data anyway. This is a good starting point.

[2017-08-17 02:52] carlosviansi commented on #1
@jygh98 I think Eileen already downloaded all the data directly from the website, right? Do you know if she added to the database?

[2017-08-17 05:51] jygh98 commented on #2
So the projects affected were marine-center-egauge, uhm-frog, maui-egauge, and dhhl.  How i obtained these timestamps was by viewing the timestamps of the output, for example inside the dhhl output folder this is what i see

![sdfs](https://user-images.githubusercontent.com/25787662/29397710-8fd1adb8-82b3-11e7-8647-d35991cad4e0.png)

As we know these projects are set up with to a hourly cron job,

[2017-08-17 05:52] jygh98 commented on #2
I think it would be beneficial to create a script that would check for missing gaps in the database.

[2017-08-17 21:39] carlosviansi commented on #2
@jygh98 I agree. Why don't you go ahead and create an issue for that so we plan to do that as a new feature? I guess before we go over there, however, we still need to know how to pull data from webctrl. Could you also create an issue for that?

[2017-08-17 21:50] jygh98 opened #3 "Document how Forrest Scrape Utils Pull Data from Web CTRL"
This issue diverges from #5, in that the documentation provided here is for the already existing code. Contrary to egauge, which provides a nice API document to request data and requires no authorization, little is known on how the data acquisition is done through webctrl scrape-util. Documentation will be added directly to the wiki.

[2017-08-17 21:52] jygh98 opened #4 "Create method to inspect for missing sensor readings in the database"
See issue #2 for motivation.

[2017-08-17 21:55] jygh98 commented on #1
I am not to sure if she did downloaded the data directly, however I think scrape-util might have already uploaded the missing data as it does keep note of when the last export time was.

As for running scrape-util locally, I changed the code to be able to run on the command of

to pull data only from the specified dates

[2017-08-22 20:39] jygh98 opened #5 "Create Notebook to pull past data in WebCtrl Module"
This is a continued effort to create scripts to acquire past data when the problem occurs. #1 handled missing `egauge` data. This notebook will handle the `webctrl` acquisition module of scrape-utils, which is used by the `uhm_frog` project.

[2017-08-28 07:28] carlosviansi commented on #5
Here are the links:

https://github.com/alclabs/BulkTrendServer

The one you should focus on: https://github.com/alclabs/BulkTrendClient

The Server is installed on webctrl as a plug-in, and is what enables the API so the client can pull the data. Right now the webctrl UI is offline for whatever reason beyond my understanding, but the API should be online or we would be losing data.

[2017-08-28 07:36] carlosviansi commented on #1
@jygh98 Can you make a pull request with the associated Python Notebook?

[2017-08-28 07:47] carlosviansi commented on #2
Associated issue to check reading gaps in the database is #4. Closing this issue.

[2017-08-28 07:47] #2 closed

[2017-08-30 02:58] jygh98 commented on #3
# WebCtrl in Scrape-Util
In the webctrl acquisition step, scrape-util makes an [http post request](https://github.com/erdl/scrape-util/blob/master/src/acquire/webctrl.py#L186)

as suggested in the documentation for the [BulkTrendServer](https://github.com/alclabs/BulkTrendServer/blob/master/README.md), an add-on for WebCtrl that allows you to efficiently pull data from the webctrl server.  With th

[2017-08-30 06:27] carlosviansi commented on #3
Were you able to execute this directly from the terminal without all the dependencies Forrest script requires?

Currently it is needed to understand how "uri", "params", and "auth" looks like. We would like to be able to do something as simple as pasting in the browser, as we did in egauge, or if not possible due to the authentication step, to quickly do so calling a function and passing the neces

[2017-09-01 01:24] jygh98 commented on #3
Yes I was able to execute just the requests.post line with the parameters in its place and does make the post request directly from the terminal.

the uri is the base link: "http://www.soest.hawaii.edu/hneienergy/bulktrendserver/read"

params is a dictionary of the variables:
{'id': 'some_sensor_id', 'start': '2017-08-31', 'end': '2017-09-01', 'format': 'json'}

auth is a tuple in the format: ('us

[2017-09-09 00:48] jygh98 commented on #5
# Project Dependencies
## Jupyter Notebook
In my case I download Anaconda which came with a bunch of preinstalled programs like Jupyter Notebook, otherwise you can directly download it alone.

## Create /tmp Folders
From the server, move the appropriate project folders into a new /tmp folder located within the notebook module.  However, you will need to delete the following line

    is-active = t

[2017-09-09 09:03] carlosviansi commented on #3
I think the easiest way for this issue to be realized is mentioning on the Notebook of #5 how it is able to request previous data, and how it relates to Forrest code as an addendum. As such, I will close this issue for now!

[2017-09-09 09:03] #3 closed

[2017-09-09 09:05] carlosviansi commented on #4
Not sure why you referred this issue as part of your pull request. The notebook should address issue #3.

[2017-09-09 09:06] #4 closed

[2017-09-09 09:11] carlosparadis opened #7 "Create Notebook to pull past data from HOBO"
I think this is a worthwhile exercise to see how the HOBO module is implemented with the different folders.

There was one particular incident where Eileen put the data of one project in the other. Thankfully it seems an error was thrown due to mismatch of columns, but this may not always be the case.

When you are done with the other notebooks, this may be a good follow-up step.

[2017-09-13 01:48] carlosviansi opened #8 "Create Notebook for Unix Timestamp Conversion"
Some script Eileen is running currently outputs Unix Timestamps. For now, this will be a separate notebook but we should consider adding the conversion directly to what she is running. We should also figure out the type of data being pulled by the script (webctrl/egauge/hobo) and for what database (frog_uhm/dhhl/etc) to ensure whatever was run didn't have collateral effects.

This issue should be

[2017-09-14 01:52] jygh98 commented on #3
[code]

[2017-09-14 01:58] jygh98 commented on #5
[code]

[2017-09-14 02:49] jygh98 commented on #1
[code]

[2017-09-14 05:50] carlosparadis opened #9 "Identify error handling and database insertion mechanisms for WebCTRL, Egauge and HOBO"
Hi @jygh98 as we discussed, I think the next step concerning scrape-utils is looking for whatever error handling mechanisms Forrest implemented in his original script to see what we account for and what we don't on the data insertion. Even if we were not to have his code mapped to a Notebook, this is also necessary understanding (I believe) so we don't feel like we are stepping in glasses every ti

[2017-09-14 05:54] carlosviansi commented on #7
I will put this issue on hold until we go over the handle of error mechanisms #9.

[2017-09-14 05:58] carlosviansi commented on #5
;-) So glad we have this out now, good job on teasing this out of that code. I will go ahead and take the torch from here and make a Notebook out of it.

For my own record, [the link that contains the documentation for the API](http://hneienergy.soest.hawaii.edu/bulktrendserver/doc.html) right now is behind login/password from WebCTRL. I am planning on moving this out to a wiki if we can't figure

[2017-09-14 06:01] carlosviansi commented on #1
One more golden fish teased out of the code ;-) Great work. I forgot to ask you over phone, did you figure out if there was any "special trick" Forrest was requesting the data to avoid timeouts different than how we were doing?

I am passing the torch from you to me to create the Notebook for now too.

[2017-09-14 19:50] carlosviansi commented on #8
[Issue has been moved to the **sensors** projects](https://github.com/erdl/sensors/issues/1), now that it has been confirmed we can minimally move necessary functionality for API Requests instead of using a large number of files from scrape-utils.

[2017-09-14 19:50] #8 closed

[2017-09-15 22:21] jygh98 commented on #1
I don't think I noticed anything special that he did that would avoid the timeouts, do you know what caused these timeouts?

[2017-09-16 00:13] jygh98 commented on #9
In the event of error during the psql insertion step, two functions are called to help document the error message and copy over the row into an error csv.

The function mklog() creates a file "errlog.txt" in the /tmp/errors directory which keeps track of the error message that is produced during the script.  Do keep in mind that mklog is called whenever an error occurs throughout the entirety of t

[2017-09-16 07:26] carlosviansi commented on #1
The timeout is caused by the API, not a bug on our end. I just wanted to know where in Forrest code what he does if he gets a timeout of the API, the same way we did via the browser. I can imagine as the simplest solution simply to abort the rest of the script and wait for the next hour cron job call, but there should still be some `try` `catch` somewhere to fail gracefully. Does this make sense?

[2017-09-16 13:21] carlosviansi commented on #9
@jygh98 Very nice detailed description of what is going on! Great job! :-) The line coding link is also very useful, wasn't aware of that. @ryantanaka take note of this one feature of Github, seeing we will be doing a lot of surgical modifications this may come in handy in our discussions!

If I understand your question right, then no, it won't go in all cases of the else statement. Take note the

[2017-09-20 10:04] carlosviansi commented on #5
This issue will continue on the sensor project, where the notebook will be created, and therefore I am closing it here.

[2017-09-20 10:04] #5 closed

[2017-09-21 00:47] jygh98 commented on #1
I think what you just said how you imagine the solution is that the script aborts the rest of the script and waits for the next hour cron job call is correct.  If you take a look at the egauge scraper on [line 76](https://github.com/erdl/legacy-scrape-util/blob/master/src/acquire/egauge.py#L76), if it is returned a 200 error the function [returns back an empty dictionary](https://github.com/erdl/l

[2017-09-21 07:49] carlosviansi commented on #1
Following up on what we discussed offline, what I was referring to was for [this line](https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb1245baeb0d3b4693/src/acquire/egauge.py#L73):

[code]
Why the `C`?

[2017-09-21 08:44] jygh98 commented on #1
So from the documentation the '&C' parameter tells us the following,

    Specifies that the returned data be delta-compressed. That is, after the first
    row of data, each subsequent row’s columns are expressed as a difference relative
    to the previous row’s column-values. When combined with the CSV (c)
    parameter, the first row is always omitted

So from quick googling of what delta comp

[2017-09-21 09:04] carlosviansi commented on #1
I hear you on the general meaning of deltas (thats how git works) but how is Forrest handling this once the data is saved?

I am also a bit confused on this `the first row is always omitted` since this applies to us as it uses a .csv.

Does Forrest pulls the existing data and use some operation to merge it?

Truth be told I am not sure if on that file where the unix timestamps are saved so the scr

[2017-09-21 09:51] jygh98 commented on #1
So i tried printing out the data with the &C parameter and without, and here it is a sample of what i see

    (with &C) :   'Other [kW]': [0.482783333, 0.47885, 0.478866667, 0.484566667, 0.5006,
    (w/o &C):     'Other [kWh]': [912.182832778, 912.174786389, 912.166805556

And all the other column values very much look like this, being a difference of the prior data.  As to how Forrest integrate

[2017-09-21 09:59] carlosviansi commented on #1
This whole idea looks very confusing to me. Is this one row you are showing the exact same column?

But the difference to what exactly on the prior data? The last row?

[2017-09-21 10:15] jygh98 commented on #1
This is one column, the 'Other [kW]', where i am comparing with the parameter included or not.  So for the entire csv file of the &C parameter on, only the timestamps is returned unchanged.  Everything other column are expressed as a difference from the previous column.  Here are some sample data of each column of the &C parameter included

    {'Date & Time': [1505354640.0, 1505354580.0, 15053545

[2017-09-21 10:30] carlosviansi commented on #1
What about the size of the files with C and without? Does it make a huge difference? Any guesses if this may impact the odds we can pull data out? I will take a look at the function. Odd how I couldn't get it when I searched in the repo.

[2017-09-21 10:57] jygh98 commented on #1
Comparing the size of the two files, it is not that significantly different considering that most of the csv files that we do get is on average around 100-300kb if it runs on the hourly cronjob.

![image](https://user-images.githubusercontent.com/25787662/30692550-51abecac-9e5f-11e7-8973-79edbec6c57e.png)

The first csv is with &C parameter included, the second csv is without.

[2017-09-21 10:59] carlosviansi commented on #1
Can never tell whether these code decisions were made to use everything that is best regardless of the lack of need and make maintenance a living hell or not. I found something about "delta-uncompress":

https://stackoverflow.com/questions/37951414/decompress-delta-compressed-sequence-of-numbers-in-scala

But it is in scala, another programming language:

[code]

I guess the concept is just so com

[2017-09-21 11:10] carlosviansi commented on #1
@ryantanaka I am "Ccin" Ryan on this since I am starting to suspect there is really no real need to use this compression value. Here is my current lead:

http://www.dspguide.com/ch27/4.htm

From this link, there are some nice images:

![image](https://user-images.githubusercontent.com/17270563/30692819-d919ec30-9e68-11e7-8f8b-b108b3450f71.png)

and a visual representation of this:

![image](https:

[2017-09-21 12:20] carlosparadis opened #10 "Verify what are the non-versioned files on the server"
There is a number of files who are not versioned in the server's scrape-util folder since Forrest left. This is undesirable, as we would like to keep the server always in sync with GitHub. This would ensure we can always revert back and forth if something that is changed is broken, and also easily identify what was modified rather than keep text files like today.

The current list of modified file

[2017-09-21 12:24] carlosparadis opened #11 "Adding new sensors only download the last 24h"
This behavior was observed today when adding the egauges for a new house (see below the list of egauges noted by Eileen). The lines that are doing this are noted below:

https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb1245baeb0d3b4693/src/acquire/egauge.py#L60
https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb1245baeb0d3b4693/src/acquire/egauge.py#L61

[2017-09-21 12:28] carlosviansi commented on #10
Note: Priority was set to high as we don't want to keep adding sensors without syncing them to this project.

[2017-09-22 23:33] ryantanaka commented on #1
### code that goes through fmt_query() , prints variable values along the way to see manipulations

[code]

- the output won't look the nicest but the comments will help explain  exactly what was done with the code
- no computations done here to recompute original values, look else where
-  `fmt_query()` was taken from [here](https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb

[2017-09-23 03:28] carlosviansi commented on #1
I get it. The next step is looking at the PR by Jason since there is code in there that also decompress the delta to see what is the next candidate function that contains the solution and understand it I guess:

https://github.com/erdl/legacy-scrape-util/pull/6/files

[2017-09-23 07:11] carlosviansi commented on #1
i created the notebook to facilitate the process: https://github.com/erdl/sensors/blob/a5e4bcebb632b0cb454cb26bcf5559cc8b828f34/egauge/Requesting%20raw%20data%20from%20eGauge%20API.ipynb

Notice I added a conversion from datetime to unix direct into the notebook down to the hour, so this scan give you a quick way to text other time windows too without relying on the website.

@jygh98 I am using th

[2017-09-25 09:11] carlosviansi commented on #1
@jygh98 @ryantanaka

The TL;DR to this issue is: Forrest did not really implement anything for delta-compression in `scrape-util`, and stores delta-compressed data. This is because delta-compression actually has a meaning: It is **Power (kW)** readings, whereas not specifying compression (i.e. `C`) means **Energy (kWh)**.

Since Power can be aggregated to Energy by summing its value over the time

[2017-10-03 23:17] carlosviansi commented on #9
https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb1245baeb0d3b4693/src/export/psql.py#L47

See the documentation of this function, it is the inelegant solution using the "throw it at the wall until it hits the hole" approach.

[2017-10-04 00:13] eileenpeppard opened #12 "find missing egauge data"
We have no data from eGauge 792 (installed 8/12), but I'm sure Jason and I added that one to the toml file. I'm attaching what text I believe we added.

Also, I really need data from other egauges (795, 785, 786) from before 2017-09-19 16:18.  I installed these on 8/12, so missing more than a month of data.

toml file text:
[code]

[2017-10-04 00:19] carlosviansi commented on #12
@jygh98 I thought after we confirmed #11 you used the code on #6 which contained those 12 python files from scrape-utils to insert the data and told everything was fine. How come they are still missing?

[2017-10-04 07:08] jygh98 commented on #12
Okay I sent you the data on uh file drop, so this is the formatted data from 8/12 to 9/19 for egauges 795, 785, 786.  Currently we are not able to get any data from e792 despite it being up so I will have to look into that.

[2017-10-04 22:24] eileenpeppard commented on #12
Thanks for the data, Jason. I don't know why e792 can't be accessed. The eGuard says its online 77% of the time... i'll check it periodically, but the cron job should have found it online by now.

[2017-10-04 22:50] eileenpeppard commented on #12
I just called eGauge support and left a message. EGuard says its online right now and i can't access it.

[2017-10-04 23:14] carlosviansi commented on #12
@eileenpeppard I checked scrape-utils timestamps yesterday night with @jygh98 of the last time it had access to it was at unix timstamp `1505873821.2361722`, which is equivalent to `09/20/2017 @ 2:17am (UTC)`. 09/20 is the date you and Jason added `e792` to the egauge list.

I am led to believe it tried running that time, set the timestamp as part of it's the first attempt in spite of not download

[2017-10-05 01:48] jygh98 commented on #11
So for the first part, I noticed a very interesting contradiction from forrest's egauge walkthrough video.  If you start at time [34:15](https://www.youtube.com/watch?v=IcQST8rVRtE&feature=youtu.be) he talks about how init and start time works.  But closer to 34:40 when Eileen asks what are those default times, he says that default start time is 2 weeks.  Which doesn't make sense as by 31536000 se

[2017-10-05 02:46] jygh98 commented on #9
So if the readings fails and is read as an error, the break would interrupt the for loop which stops the insertion process like you said.  But if autocommit is true, wouldn't that mean all the previous rows that were able to be read be uploaded since there are no transactions?

[2017-10-05 03:51] eileenpeppard commented on #12
![egauge permissions issue](https://user-images.githubusercontent.com/29083044/31210259-9b864ffc-a92c-11e7-9ada-e560f1bc3f08.PNG)

[2017-10-05 06:23] carlosviansi commented on #12
Alright, lads, the problem is solved and we now have all possible data we could. I met with Eileen from 4 something PM to 6 PM and here is the memory of it in case of incidence. Breaking in parts:

## eGauge792 has no missing data

A couple of evidence led for us to figure this out (and I am letting you know so you keep an eye for this next time):

1. First, I checked the egauge state on /var/loca

[2017-10-05 06:23] #12 closed

[2017-10-05 09:18] carlosparadis commented on #9
You're correct. But I am not sure why you are asking this. The inelegant solution is still a solution: We were losing readings supposedly before it was put in place.

From what I gather of this code, at the very least it will store the readings that are `duplicate on insertion` and that simple `failed to be inserted`.

The script inserts into a `reading` table in DHHL or frog_uhm, whose primary ke

[2017-10-05 09:29] carlosparadis commented on #11
I remember this (not the video, but the place in code). And yes, I too have no idea on why this. However, I guess it is not worth guessing this one since we already observed what the code timestamp says matches what happened (?).

Yes, this is the case. I confirmed it today with Eileen. They never had to add it later as we are doing now, which never prompted to the situation of initializing scrape

[2017-10-05 09:29] #11 closed

[2017-10-06 23:13] jygh98 commented on #9
So I explained this earlier in the error propagation section but here it is below.

In the event of error during the psql insertion step, two functions are called to help document the error message and copy over the row into an error csv.

The function [mklog()](https://github.com/erdl/legacy-scrape-util/blob/master/src/core/error_utils.py#L20) creates a file "errlog.txt" which keeps track of the

[2017-10-09 20:35] eileenpeppard opened #13 "Missing hobo data for DHHL"
hobos with sensor_sn 9796070 and 9796074 are missing from the database although the hobo files had been placed in the /var/local/scrape-util/dhhl-hobo-u12/input folder and appear in the archive folder. One of the 9706070 files appears in the errors folder on this filepath.

In the view "dates_readings" in dhhl database, if you search for these sensor_sn, the dates are null, so no data for them.  I

[2017-10-10 20:20] eileenpeppard opened #14 "Missing webctrl data for uhm frogs"
Some data is missing between 2017-05-11 15:00 and 2017-05-31 08:00.  Can this be harvested somehow? Even manually and i'll upload it to a staging table to move it into the reading table.  I believe the data missing in April is not in the webctrl database - the internet was down for an entire long weekend and data lost.
![missing webctrl data](https://user-images.githubusercontent.com/29083044/3140

[2017-10-10 20:37] carlosparadis commented on #14
What are the sensor ids? This is frog uhm right?

[2017-10-10 21:06] eileenpeppard commented on #14
Yes, frog uhm and I'm not sorting through each sensor. Best to try to get all data for that time period. Thanks.

[2017-10-11 02:24] carlosparadis commented on #14
It is much easier if you just pinpoint the sensors we need so we only request and re-insert what is needed. I don't have the notebooks ready yet, so I guess it is best you check with Jason on this.

[2017-10-11 02:38] eileenpeppard commented on #14
No, Carlos, I am not sorting through over 100 sensors. Just get everything in that time slot, send to me and i'll sort it out myself.

[2017-10-11 02:39] carlosparadis commented on #14
@jygh98 you hear her. I will be sleeping for 5 hours to then get a 15 hours flight, so I won't be able to get to this anytime soon. Good luck!

[2017-10-11 07:54] kathrynparadis commented on #14
Wasn't this the data we were looking into back at the beginning of August? I think I manually checked for the sensors that had data at that time, and wrote them down in a notepad somewhere on the laptop you lent me, Eileen. Did we never get around to filling in the missing data? The data in April is definitely not on Webcntrl, and the data from May 11-30th definitely is. I remember that much.

I c

[2017-10-11 18:59] eileenpeppard commented on #14
It is not worth the hassle for Jason to pick and choose sensors in a script. He should just get the whole time period I mentioned, give me the data and I'll load it to a temporary table and get sql to fill in the missing readings in the reading table. The next step is to get a script that can go over the time period and get the data, insert it without getting an error for trying to put a duplicate

[2017-10-11 19:38] carlosparadis commented on #14
@eileenpeppard no problem, he can just get all the data with the 12 python notebook he has, and how he got your last bunch of files.

Maybe this is true for webctrl, but I don't know if this approach will work for egauges, because they are not always available like wtbctrl. If we don't know which sensors are the ones missing data, we will just keep re-running the scripts blindly "until it works".

[2017-10-11 20:28] eileenpeppard commented on #14
The holes are there for some mysterious reason - it took Forrest a while to get his scripts to work and i had not gotten him to rerun them over that time period to fill in the gap. Too many things going on at the time.

[2017-10-11 20:31] carlosparadis commented on #14
I see, I guess given the time range it is safe to say it is not a bug in the current code as is, just "legacy holes" in the data. We are still lacking on the visualization side to see all of them given they keep reappearing like the plague.

[2017-10-11 20:58] eileenpeppard commented on #14
Lagacy holes. No, they are not 'reappearing', just never addressed. the current code is working fine.

[2017-10-11 21:27] carlosparadis commented on #13
I see the files on the server, and there is an unfinished notebook on HOBO Reshaping we could use as a starting point: https://github.com/erdl/sensors/blob/master/hobo/hobo_notebook.ipynb

We can try starting from there. I have no idea why the file was moved to the `error` folder, however. It loads fine in R so it is not a bad format issue. Maybe there are duplicates in the .csv and readings table

[2017-10-11 21:48] eileenpeppard commented on #13
I don't know.

[2017-10-12 22:30] eileenpeppard commented on #14
Okay, the data that Jason gave me had problems uploading to the database. Even though it was csv, and when I looked at it with Notepad++, it looked fine. Got error when I uploaded from command line. when i opened file with plain notepad i could see there were no line breaks. Weird! I had to open file with Excel and re-save it to get the line breaks and upload it.
![problem with webctrl data output

[2017-10-12 22:35] carlosparadis commented on #14
Thank you for letting me know about the problem with the csv.

@eileenpeppard Does this means you got all your need associated to this particular issue of missing data?

@jygh98 What did you run to get this? My WebCTRL Notebook or the 12 python notebook script on #6 ? I would like to know if it is the current notebook to fix it.  WebCTRL data is exported as a `JSON` file rather than a csv. Maybe t

[2017-10-13 00:44] eileenpeppard commented on #14
Hi, Guys.
Okay, I think we have all the webctrl data we are able to get.  There is data missing from the actual webctrl database between May 17 10am and May 23 9am. it's just not there.  A side note: Jason's data scrape yesterday got the eGauges too, not just webctrl.  thanks for the hard work. I'll let you know when we're missing other data. i see a drop in Oct data but urgent.
![missing may webc

[2017-10-13 00:49] jygh98 commented on #14
Interesting, I go ahead and check on why it is formatted like that.  Also @carlosparadis this was using the 12 python file, I think its just formatting issue during the datetime conversion.

[2017-10-13 00:52] eileenpeppard commented on #14
okay here is where we are missing in October and I think the data is all there in webctrl: all sensors from
2017-10-07 06:00 to 2017-10-07 08:00 and 2017-10-08 03:00 to 2017-10-08 05:00

[2017-10-13 01:26] carlosparadis commented on #14
@eileenpeppard This `Oct` request is a way more recent date. Was this because it was added afterward or is it a script issue?

@jygh98 I wouldn't waste time on this, the plan is we move to the individual notebooks by the start of the next week, so you would be trying to pinpoint a problem on a code we won't use very soon. A saveas on Notepad++ sounds easy enough to do for just the week than the ti

[2017-10-13 22:56] jygh98 commented on #14
Okay @eileenpeppard I sent you the two csv through file drop, let me know if the csv is still giving you trouble.  I double checked with opening it in notepad and notepad++ and it seems fine.

[2017-10-13 23:47] jygh98 commented on #13
Strange, the 9796070.csv formats fine when I run it using the 12 python script.  Would you want to send you the formatted csv for it so you can upload it the database?  Also there are more error files that pop up in the error folders from a few days ago.

![image](https://user-images.githubusercontent.com/25787662/31570187-0674803a-b01d-11e7-9f5e-0d4037ebbf39.png)

[2017-10-14 02:34] carlosparadis commented on #13
@jygh98 Do we have any error message in that errorlog you told me about today associated to these files?

[2017-10-14 02:40] carlosparadis commented on #9
A reminder of to-dos to wrap this up we discussed today:

- Add the sample fro the errlog that is associated with UTC errors as a new post here.
- Add the path and explain how we can make sense of the errorlog. There must be a format how errors are reported and about what. Let us know (I will move this to the wiki afterward).

- Make a second post discussing how the current inelegant solution fare

[2017-10-16 21:58] jygh98 commented on #13
Yes so for anytime during the export and scrape-util has an error uploading a row to the database, the script will make a csv file for these rows that are not able to be uploaded as seen above.

At the same time the script will create a log of all the corresponding errors in here

![image](https://user-images.githubusercontent.com/25787662/31637145-0b1abdea-b269-11e7-8f25-dd4307e5e01f.png)

Openin

[2017-10-16 22:10] carlosparadis commented on #14
@kathrynparadis @jygh98 For the record, I spoke with Eileen now -- There were two requests in this issue by her:

## First Request

She confirmed as of today that the first data was sent by Jason, she added it, but **she confirmed the source data also has holes**. By source data, I mean in this case the data living in **Web CTRL**. This is why our **Frog_UHM** database, in turn, also has holes. TL

[2017-10-16 22:18] carlosparadis commented on #13
@jygh98 OK so we know the error log is matching, but you didn't follow up on the actual problem. What is this byte `0xb0` and `0xf8` that the log is reporting for the file? Is this some garbage from Excel or the .csv file generated by the HOBO scrape-utils is not being able to parse?

Do not modify the original reported file, we want to have a sample of the problematic file to check if this is a p

[2017-10-16 22:34] jygh98 commented on #9
Sample error log from dhhl-hobo-u12
![image](https://user-images.githubusercontent.com/25787662/31638215-1e2f9ae0-b26e-11e7-8687-53ebe7475084.png)

The path for these error logs can be found in /var/local/scrape-util/errors.  In the log, the errors are formatted as seen above:
   logtime
   project
   error message

So I was talking to Ryan and Eileen about how we can possibly upload the data, Rya

[2017-10-16 22:48] eileenpeppard commented on #14
Jason sent me files with dhhl in label, so it was a little confusing! I let him know. i have verified it really us frog-uhm data and will upload and let you know how it looks. Thanks.

[2017-10-16 23:00] jygh98 commented on #13
So here is the range 0x80 - 0xBF for UTF-8 encoding

0x00 - 0x7F - Single byte sequence, backwards compatible with ASCII
0x80 - 0xBF - Continuation byte for multi byte sequences
0xC0 - 0xDF - Starter byte for two byte sequence
0xE0 - 0xEF - Starter byte for three byte sequence
0xF0 - 0xF7 - Starter byte for four byte sequence
0xF8 - 0xFB - Starter byte for five byte sequence (overlong encoding)
0x

[2017-10-16 23:02] carlosparadis commented on #13
Yes, I know what a UTF-8 encoding is. We need to find out what is it in the file by opening as a .txt. And OK keep us posted here, thanks!

[2017-10-17 01:12] eileenpeppard commented on #14
Okay, guys, you can close the issue. it was not a problem with scrape-util. The data is missing from webctrl. For the record: on 2017-10-07 the 0705, 0710, and 0715 are missing and the 0720 is not always on the 5-minute mark. Some have a 07:19:53 and the 07:20:00, etc. Weird.  On 2017-10-08 all sensors seem to be missing the 04:00 reading.

[2017-10-17 03:09] carlosparadis commented on #14
Thank you for the heads-up. I am tagging all our problems with missing data so we can better prioritize where the issues to fix by those that keep coming back more often. I am marking this as "Won't fix" since they were both problems in the source.

[2017-10-17 03:09] #14 closed

[2017-10-17 06:51] carlosparadis commented on #9
@ryantanaka  @jygh98 I think you overlooked the question of storage which I wanted you to go after best practices on the internet. We are inserting `streaming` data as `hourly batch`, and there is no reason for this. It is indeed inconvenient at some points, where Eileen wanted to see the data immediately while visiting houses at the DHHL project. This also adds a bottleneck on the dashboards @kat

[2017-10-18 23:06] jygh98 commented on #13
Updated the comment with a tldr

[2017-10-18 23:13] carlosparadis commented on #13
@jygh98 Nice data Sherlocking post @jygh98. So basically the weird exports

- 1) had their second units missing
- 2) had the degree symbol being reported on the unit.

I guess the ball is now on @eileenpeppard to figure out if she exported anything differently.

For testing purposes, could you attach me the first 10 lines of the problematic file and 10 lines of an ok file? I want to create a few u

[2017-10-18 23:28] jygh98 commented on #13
Here is the files with each csv: [csv.zip](https://github.com/erdl/legacy-scrape-util/files/1396614/csv.zip)
The archived label is a compatible csv, while the error is the error csv

[2017-10-23 23:02] jygh98 commented on #9
I will be updating this response as I find possible solutions to our current implementation, but I would like to post these stackoverflow post where people are [encountering similar problems ](https://stackoverflow.com/questions/6025367/t-sql-deleting-all-duplicate-rows-but-keeping-one?noredirect=1&lq=1)to us with [duplicates in tables](https://stackoverflow.com/questions/33994259/sql-deleting-row

[2017-10-26 02:43] jygh98 commented on #13
@eileenpeppard
We discussed it today and believe the issue is due to how the csv's were save considering the different formats.

[2017-11-01 01:08] eileenpeppard commented on #13
![2017-10-06 dhhl missing hobo files](https://user-images.githubusercontent.com/29083044/32255606-52d0d5a8-be4d-11e7-8d8d-c0c4483b0f2c.PNG)

[2017-11-01 01:09] carlosparadis commented on #13
@eileenpeppard Last conclusion was that the format the files are being saved is different than before. Are you saving anything different or updated the software for the hobo?

[2017-11-01 02:19] eileenpeppard commented on #13
![difference in hobo files](https://user-images.githubusercontent.com/29083044/32257082-f52bcd7c-be56-11e7-9042-0bfcfc7394ca.PNG)
file for 9796095 failed to upload and had different time format and different quotes - are these important to scrape-util? Strange since I used the same software. i'll see if i can find the hoboware files and re-export the data.

[2017-11-01 02:36] eileenpeppard commented on #13
okay, so i've re-extracted the data from the hobo files and they look better, so i put them in the input folder for scrape-util to take another crack at uploading them! I'd named the hobos inconsisitantly and i think as i had originally fiddled with the files i must have used Excel and it changed the format.  So i've manually changed the name of file and name in first line.
![corrections](https://

[2017-11-01 19:00] eileenpeppard commented on #13
Okay, this issue is resolved. The data loaded.

[2017-11-01 20:39] carlosparadis commented on #13
Thanks, I am closing it.

[2017-11-01 20:39] #13 closed

[2017-11-06 21:24] eileenpeppard opened #15 "Still missing eGauge 792 completely"
Hey, Gang.

I can't access it and the cron job has not gotten it. Can a mini cron job be set up to check this egauge every 5 minutes and if it succeeds, get all the data dating back to 2017-08-12 12:00 ?  The eGuard says it's online at some point during each hour period 96% of the time. Hard to believe, but we are just not getting the data.

Eileen

[2017-11-06 21:33] carlosparadis commented on #15
Continuation of some of the problems of issue #12.

@ryantanaka @jygh98 Where did we stop on the crontab saga to choose our own time requests? Do you remember? I see we ended up not moving to the wiki. Also, as far as I recollect scrape-util is executed by a single script bound to the hourly cron job. We would need to deploy an entire new project just for e792. Is this correct?

[2017-11-06 21:51] eileenpeppard commented on #15
Hi, guys, update: I do have data from 9/19 16:18 until now. **I'm missing data from 8/12 12:00 to 9/19 16:18**.

(sorry about that. i don't know why the data did not show up in my Tableau.)

[2017-11-06 21:56] carlosparadis commented on #15
@eileenpeppard In my summary at the end of #12 I took note that:

There is currently no conventional way to flag this in the database such as a quality check column. Maybe this can be considered down the road.

However, you are requesting data before 9/4 - 5 PM. What am I missing here?

[2017-11-06 22:23] eileenpeppard commented on #15
oh.... yeah. Shoot! I forgot about that. Good thing you are documenting this. I will take note in the database. Thanks!

[2017-11-06 22:25] carlosparadis commented on #15
@eileenpeppard No problem. I am marking the issue as invalid. Feel free to reopen if you find something else missing associated to e792.

[2017-11-06 22:25] #15 closed

[2017-11-08 23:14] eileenpeppard opened #16 "Can you check this sensor is in scrape util for dhhl hobo script?"
Hi, Guys.

I did not deploy this in house 2 but will now deploy it to replace a bad sensor in house 8. I just want to check that it still exists in the json file.  Hobo SN 9796090
![dhhl hobo in scrape-util](https://user-images.githubusercontent.com/29083044/32579830-bf327582-c486-11e7-9812-c0d4b75180af.PNG)

![2017011-09 house 8 masterbed sensor replacement](https://user-images.githubusercontent.

[2017-11-09 03:51] carlosparadis commented on #16
For the sake of completeness: I confirmed in the office today with you that they are already added to the config, so no changes on the scripting end.

Config file is located at: /var/local/scrape-util/projects/dhhl-hobo-u12

[2017-11-09 03:51] #16 closed

[2017-11-14 01:01] eileenpeppard opened #17 "Can you teach Eileen to run scrape-util on command?"
Hey, guys,

We are changing current transducers down at the Frog buildings this Friday afternoon and i want to be able to look at the data soon after and not have to wait for the cron job to run. Can you teach me how to run it?

Thanks.
Eileen

[2017-11-14 01:16] eileenpeppard commented on #17
In my notes, I have these written down to use at the command line:
--to run the portion that processes DHHL hobo files:
`scrape-util -p dhhl-hobo-u12`
--to run the portion that processes the Maui hobo files:
`scrape-util -p hobo-u12`

[2017-11-14 04:56] carlosparadis commented on #17
Hi Eileen,

As far as I am aware, there is no way to run just the webctrl portion. What you can do is run scrape-util project wise. The name of the commands you are exemplifying match the name of the folders:

`dhhl  dhhl-hobo-u12  hobo-u12  marine-center-egauge  maui-egauge  occupant-query  uhm-frog`

So my best guess would be for you to type:

`scrape-util -p frog_uhm`

On Putty.

Forrest added

[2017-11-14 21:25] eileenpeppard commented on #17
Okay I’ll test it.

From: Carlos Paradis [mailto:notifications@github.com]
Sent: Monday, November 13, 2017 6:56 PM
To: erdl/legacy-scrape-util <legacy-scrape-util@noreply.github.com>
Cc: Eileen Peppard <epeppard@hawaii.edu>; Author <author@noreply.github.com>
Subject: Re: [erdl/legacy-scrape-util] Can you teach Eileen to run scrape-util on command? (#17)

Hi Eileen,

As far as I am aware, there is

[2017-11-14 22:28] eileenpeppard commented on #17
I ran `scrape-util -p uhm-frog` and something happened but got errors at end and did not see new data uploaded to table. Here are screenshots.
![scrape-util -p uhm-frog runs but error at end 1](https://user-images.githubusercontent.com/29083044/32808507-5372ac6c-c937-11e7-9cd8-d64e19c94df3.PNG)
![scrape-util -p uhm-frog runs but error at end 2](https://user-images.githubusercontent.com/29083044/32

[2017-11-14 22:58] carlosparadis commented on #17
In the 2nd to last line int he screenshot you sent me says "Permission denied". This means you need sudo:

`sudo scrape-util -p uhm-frog`

Type this and then your server password afterwards and press enter.

[2017-11-14 22:59] eileenpeppard commented on #17
And it's nearly 45 minutes late in doing the scrape-util on the cron job. I hope i did not mess it up totally.... Okay I'll try your suggestion, Carlos.

[2017-11-14 23:02] eileenpeppard commented on #17
Okay, it WORKED!!! yeay!!

[2017-11-14 23:06] carlosparadis commented on #17
Great! I am closing the issue and moving this to the scrape-util wiki wiki if we ever need it again :-)

[2017-11-14 23:06] #17 closed

[2017-11-23 02:45] ryantanaka commented on #10
Notes from Nov 22 conf call:

The two files:

`/var/local/csbcd-configs/scrape-util-projects/dhhl/config.toml`
`/usr/local/lib/scrape-util/tmp/projects/dhhl/config.toml`

Appear to be exact copies of each other such that when one is edited, the other is automatically edited as well. We are unsure how these two are linked and it needs to be investigated.

Also, we need to find out when Eileen needs

[2017-11-23 08:29] carlosparadis commented on #10
This one earned this tag as well. There is one more `wtf` tag on the `survey_admin` project insofar. Jokes aside, we want to make sure we have a collection of issues to make sure newcomers avoid doing at all costs and see on the long-term how much that these things can sink.

[2017-11-25 00:08] ryantanaka commented on #10
@jygh98 @carlosparadis

In regards to my comment above:

`/var/local/csbcd-configs/scrape-util-projects/dhhl/config.toml`
`/usr/local/lib/scrape-util/tmp/projects/dhhl/config.toml`

These two files are hard links to the same location on disk. Watch this short [video](https://www.youtube.com/watch?v=lW_V8oFxQgA) for a quick intro.

Running the command `ls -i` on both files reveals that they have th

[2017-11-25 04:42] carlosparadis commented on #10
@ryantanaka When we discussed this in the lab, I mentioned symbolic links could be soft or hard. So, this is the hard variant. Maybe `ls -l` only shows the `->` symbol only for the soft variant.

- I think you missed the main question: To what purpose was this done?

Can you remind me again if both folders had the source code for scrape-utils?

[2017-11-25 05:34] ryantanaka commented on #10
So I didn’t address that question yet, I have no idea. I just wanted to shed some light on that one specific case so we all have an idea of how it works.

I’ll get back to you on the second question.

[2017-11-28 22:05] ryantanaka commented on #10
## Notes on Scrape-Util & 11/27 conference call recap
![scrape_util_mess](https://user-images.githubusercontent.com/19616012/33345378-459bda88-d430-11e7-9ce8-0f77eebb08aa.jpg)

Above is an image of `scrape-util` as it's laid out in our server. The red text are descriptions of conventional linux file system usage, which would help to explain why things were split up the way they were. The right han

[2017-11-28 22:22] ryantanaka opened #18 "need to document layout of scrape-util on IT-VM server"
In response to our confusion in #10, create a diagram similar to what was done for `scrape-util` [here](https://github.com/erdl/survey_display/issues/3).

- show what symbolic links point to
- illustrate pulling data from various API/sensors, saving raw data on disk as csv's, then placement into postgres db
- show where scrape-util is called (`/etc/cron.hourly`)
- show what folders scrape-util use

[2017-11-30 01:04] jygh98 commented on #10
So here is the full list of unstaged files in `csbcd-configs`
![image](https://user-images.githubusercontent.com/25787662/33406926-2ab6d81a-d513-11e7-8fde-41007530fd93.png)

With all these files the permissions were changed from `100644` to `100755`
![image](https://user-images.githubusercontent.com/25787662/33407263-9f577282-d514-11e7-912e-f098b36625ae.png)
![image](https://user-images.githubuser

[2017-12-16 00:18] ryantanaka commented on #10
@jygh98, thanks for looking into this. @carlosparadis and I looked over your findings and will proceed to get started on versioning this.

12/15 Conf Call Notes:

There are three commits that I will make to this repository:
- 1 for all the file that had its mode has changed
- 1 for dhhl/config.toml where new sensors were added
- 1 for another file (we discussed this one) I will also be sending out

[2017-12-16 00:36] ryantanaka commented on #10
It looks like this "mode change" thing is a result of however Forrest set this up. It cold have happened when he pulled things from his repo. TBH I just realized we probably could have changed the permissions back to what it was, but I wouldn't want to risk breaking anything.

https://stackoverflow.com/questions/1257592/how-do-i-remove-files-saying-old-mode-100755-new-mode-100644-from-unstaged-cha

[2017-12-19 01:10] ryantanaka commented on #18
@carlosparadis, @jygh98 can you guys give some feedback? I think it's a little messy with all those arrows (but then again the program is a little messy too hah). Thanks
![scrape_util_diagram 1](https://user-images.githubusercontent.com/19616012/34135559-7fd63740-e405-11e7-8382-0eabf14ff532.png)

[2017-12-19 23:38] ryantanaka commented on #18
12/19/17 conf call notes:

[12:35]
1st block) database+io folders (call it io folders if you like, no need to map every single godamn folder)
[12:35]
2nd block) src code. It is the one already there with the chain of soft links. just draw a rectangle or something on it
[12:36]
3rd block) it is not included currently in the image. add some folder icon saying configs. No need to also look into all p

[2017-12-22 02:22] ryantanaka commented on #18
update 12/21:

3 main blocks included:
- `scrape-util` source
- outputs
- configs

APIs also point to where they should.

I'm going to get scrape-util running on my computer so that I can do some debugging (will just use fake data, fake sensors, whatever). A handful of the code is understandable but there are some areas where terrible naming conventions, **_overuse_** of every possible fancy pytho

[2017-12-27 01:29] ryantanaka commented on #18
conf. call 12/22 notes:

- split diagram into two separate images (top vs bottom)
- as of **Dec 19, 2017 we started using 5 minute intervals for retrieving data** instead of 1 hour (will post this on the diagram)
- regarding toml files
    - need to express that they can show up in different forms (for example: egauge.toml, psql-config.toml, value-remap.toml, etc..)
    - need to express that they

[2017-12-27 01:30] ryantanaka commented on #10
12/22 conf. call notes

- Eileen followed up with Justin to see what he has to say about the last commit that we need to do
    - still waiting to here back, ball is in his court atm

[2017-12-27 21:37] ryantanaka commented on #18
updated 12/27:

![scrape_util_diagram 7](https://user-images.githubusercontent.com/19616012/34393908-102d99be-eafa-11e7-8142-8cf2df545c83.png)

[Scrape_Util_diagram (3).xml.zip](https://github.com/erdl/legacy-scrape-util/files/1589917/Scrape_Util_diagram.3.xml.zip)

[2017-12-28 23:36] ryantanaka commented on #18
scrape-util layout on server:
![scrape_util_layout 1](https://user-images.githubusercontent.com/19616012/34425794-9210d3ea-ebd3-11e7-83e7-235c048740e2.png)

scrape-util diagram:
![scrape_util_diagram 8](https://user-images.githubusercontent.com/19616012/34425814-e6dbfe86-ebd3-11e7-8c5e-b94ca16592c1.png)

[Scrape_Util_diagram (4).xml.zip](https://github.com/erdl/legacy-scrape-util/files/1592309/Scr

[2018-01-03 01:48] #1 closed

[2018-01-03 01:51] carlosparadis commented on #7
@kathrynparadis [is working on documenting how to find missing data and diagnose errors on the wiki](https://github.com/erdl/sensors/issues/9), since this is not necessarily something we would be automated in a notebook, like the other sensors where there is an API to pull data from the source.

Therefore, I am closing this issue.

[2018-01-03 01:51] #7 closed

[2018-01-03 01:55] ryantanaka opened #19 "run scrape-util cron job every 5 minutes"
`/etc/crontab` has been edited to run scrape-util every 5 minutes as of 12/19/17

[2018-01-03 01:55] carlosparadis commented on #9
We never followed up on the database insertion in the end, but [there was a test and permanent change to the cron job scrape-util requests being decreased to 5 minutes #19, which was handled well, so I believe we will not be touching this issue unless strictly required.

As far as the error documentation goes, it is currently being added as material to the wiki of the sensors project. See [this is

[2018-01-03 01:55] #9 closed

[2018-01-03 01:57] carlosparadis commented on #13
Details of this issue are now being recycled into wiki documentation on the sensors project by @kathrynparadis. See [this issue](https://github.com/erdl/legacy-scrape-util/issues/13) for more details.

[2018-01-03 02:00] carlosparadis commented on #18
For the record, @kathrynparadis will be adding some of the diagram on item 3 for the HOBO on [this issue](https://github.com/erdl/sensors/issues/9).

[2018-01-03 04:03] #19 closed

[2018-01-04 23:16] ryantanaka opened #20 "document what we currently understand about scrape-util"
- document current understanding of the program layout and usage
- move to wiki

- draft will be here

[2018-01-04 23:31] ryantanaka commented on #20
# Scrape-Util Layout

## `tmp/`

The `tmp` directory contains folders for storing data and information output by the program. It also contains a projects folder, which contains configuration and state files for each individual project. The current layout of the `tmp` directory is as follows:

[2018-01-12 01:42] ryantanaka commented on #10
1/10/18 meeting w/Justin & @carlosparadis notes

- What we covered:
     - expressed our concerns of the last commit
     - tried to run scrape-util as a different user, however it failed and we reverted it back to how it was running prior
        - this issue seems to stem from the fact that scrape util needs permission to access certain files and directories (we need to know all of them)

- What

[2018-01-12 23:04] ryantanaka commented on #18
Updated:

![scrape_util_diagram](https://user-images.githubusercontent.com/19616012/34898780-f94966c8-f798-11e7-964c-493372dce486.png)

[Scrape_Util_diagram.xml.zip](https://github.com/erdl/legacy-scrape-util/files/1627776/Scrape_Util_diagram.xml.zip)

[2018-01-22 20:27] ryantanaka commented on #20
`/tmp` folder semantics diagram.. WIP

![folder_semantics](https://user-images.githubusercontent.com/19616012/35242767-a50337ce-ff5e-11e7-92fd-d607f9b9c345.png)

[2018-01-25 21:39] ryantanaka commented on #20
@carlosparadis @jygh98

Hey gang,

When you guys get the change, can you glance over the wiki above and give me some suggestions for anything that could be missing, inconsistencies, etc.?

@carlosparadis can you add me to this repo, then I can transition the comment over to the wiki page.

thanks

[2018-01-25 21:59] carlosparadis commented on #20
@ryantanaka done

[2018-01-25 22:04] ryantanaka commented on #20
@carlosparadis , thanks

See in [wiki](https://github.com/erdl/legacy-scrape-util/wiki/Current-Program-Layout)

[2018-01-25 22:19] ryantanaka commented on #10
Justin confirmed that it is okay for us to do the final commit mentioned above. I've done the commit as well as added `scrape-util-projects/occupant-query/raw` to the `.gitignore` because that folder was specified in the config to hold raw occupant query files.

[2018-02-13 19:29] ryantanaka opened #21 "Figure out what is causing intermittent periods of time when data is unable to be inserted"
First observed about about a month ago around 10:25-10:45am.

Observed again 2/12/18 around the same time period for about the same duration.

Scrape-util will be started via the crontab, however the program appears to be doing nothing. State timestamps are not updated so this is fine, the program recovers after about 10:45 ~ 10:50am and acts accordingly. Confirmed with @eileenpeppard that she see

[2018-02-23 20:47] ryantanaka commented on #21
@ryantanaka note:
2/23/18 still seeing inconsistent upload times.

Looking at the times output files for uhm_frog.

[code]
Looking at the syslog. Cron job gets started on schedule.

[code]

[2018-03-06 00:38] ryantanaka commented on #10
[csbcd-configs.zip](https://github.com/erdl/legacy-scrape-util/files/1783114/csbcd-configs.zip)

Storing this here for the time being. These configs are current up to 3/5/18 2:35pm

[2018-04-17 20:39] eileenpeppard opened #22 "Please extract data for two sensors frm the UHM Frog Webctrl"
Hi, Guys.

I need to collect data from these sensors, but not on a continual basis. Just a one time extract for these two:
ABSPATH:1:#powerscout_frog_2g/kw_avg_phase_b_tn
ABSPATH:1:#powerscout_frog_1g/kw_avg_phase_b_tn
Dates: 2018-01-01 00:00 to 2018-04-17 00:00
If you can email me a csv file, that would be great.
Regards, Eileen

[2018-04-19 11:33] carlosparadis commented on #22
@eileenpeppard I looked into this, but for some reason, I can only get more recent data from the sensors via the Notebook. I asked @kathrynparadis to manually check if there is data for the earlier end of the time interval you asked today (thursday).

[2018-04-19 20:05] eileenpeppard commented on #22
I've already checked and the data is there.  Higher priority for Kat is to sort out that R for comfort data.

[2018-04-20 00:41] carlosparadis commented on #22
@eileenpeppard it seems the server was just offline. It worked this time around. Also, for the record, the timestamps will be HST.

[2018-04-20 01:11] eileenpeppard commented on #22
Great, just email me a csv file, or drop box if its too big.

[2018-05-08 02:52] eileenpeppard opened #23 "Need to get data to Severine at HNEI"
@carlosparadis  Our colleague, Severine, at HNEI installed the weather station on the Frog UHM project and she wants to get the data to study the weather affects on PV production. I have extracted data for her, see "view-severine" but she'd like to grab it regularly. Do we want to give her ssh access? Or is there another way to provide the data easily? Can that view be backed up on Google drive as

[2018-05-09 03:46] carlosparadis commented on #23
For the record,

We agreed today after ERDL-arch meeting that we would try the API-WebCTRL route before worrying about ssh. I will follow-up with an e-mail.

[2018-05-12 01:03] ryantanaka commented on #20
Everything has been moved over to the wiki. Closing this issue.

[2018-05-12 01:03] #20 closed

[2018-05-12 01:03] ryantanaka commented on #18
This is done. Diagrams are located in the wiki. Closing this issue.

[2018-05-12 01:03] #18 closed

[2018-05-12 01:06] ryantanaka commented on #10
Versioned and non versioned config files have been verified. Additionally they are backed up and we currently have a repo to store them located [here](https://github.com/erdl/scrape_util_configs). Closing this issue.

[2018-05-12 01:06] #10 closed

[2018-05-18 00:11] ryantanaka opened #24 "Rename file containing parsing code for survey_display"
Change this [file](https://github.com/erdl/legacy-scrape-util/blob/master/src/acquire/parsers/occupant_query.py) to be named `survey_display.py` to be consistent with our name changes from `occquse` to `survey_display`.

Currently checking the code to see that such a change won't break the program assuming that the `config.toml` for `survey_display` is modified appropriately.

[2018-05-18 00:29] ryantanaka commented on #24
Note:

`/var/local/csbcd-configs/scrape-util-projects/survey_display/config.toml` has this line:
`parser = "occupant-query"`, however the python file it is referring to is `/usr/local/lib/scrape-util/src/acquire/parsers/occupant_query.py` when `scrape-util` runs. This is because the following function is called:

https://github.com/erdl/legacy-scrape-util/blob/2c4a718e3697cfef84493cdb1245baeb0d3b4

[2018-08-28 03:47] carlosparadis opened #26 "Missing data due to router in Frog 1 being turned off"
According to @eileenpeppard the router of Frog 1 was turned off on August 10, and this was addressed last week. However, we have some missing data issues now. Quoting @eileenpeppard

[2018-08-28 03:52] carlosparadis commented on #26
@ryantanaka confirmed that egauge data is up to date and the scrape-util state timestamp for egauge works, however something weird is going on with the webctrl. Some rows are being inserted, but the state timestamp is not updating, despite the rows being inserted one by one. @ryantanaka also confirmed that the webctrl data is likely fully downloaded correctly by scrape-util, but the insertion does

[2018-08-29 19:50] kathrynparadis opened #27 "Frog 1 bad data January 2018"
For the whole month of January in Frog 1 of the FrogUHM database, there was bad data for the Whole building net egauge appliance (purpose_id: 84, 85) in the system. We had the absolute value of the data values, and no way to revert it to the original value. This happened due to an improper configuring of the Egauge by the electrician (not scrap-util's fault).

Eileen took the data out of the readi

[2018-09-01 03:29] ryantanaka commented on #26
The problem was that from 8-10 till 8-17, data from the SOURCE was missing. We checked by querying the webctrl api directly. For some reason scrape-util state timestamps were lagging behind at 8-3 (oddly since we were missing data from 8-10).

I've updated the lagging timestamps for the frog1 webctrl sensors to be set at 08-18-2018 00:00:00 and this appears to have set things back in motion. Scrap

[2018-09-01 03:33] ryantanaka opened #28 "Purpose Id 34 data was being updated while other frog1 sensor data was not being updated"
All of the frog1 state timestamps for webctrl were stuck at 8-3-18. There was a hole in the data source from 8-10 till 8-17. The state timestamp for purpose id 34 was being updated by scrape-util and the program didn't have problems dealing with the hole in the data. Scrape-util did however, have a problem with all of the other purpose ids that had that same hole in the data. We would like to know

[2018-09-04 19:32] eileenpeppard commented on #26
Hi, Guys.  All the sensors are up to date. Thanks for solving the problem!  Regards, Eileen

[2018-09-04 21:16] #26 closed, assigned to ryantanaka

[2018-09-04 21:17] carlosparadis commented on #26
For the record, the cause for scrape-util not pulling data without manual intervention is still unknown, but for the lack of better guesses, we will leave as is as Matt is working on a replacement.

[2019-04-16 21:55] eileenpeppard opened #29 "Scrape Util not inserting data"
Hi, Gang.

The Frog Webctrl data stopped in mid-March.   A few sensors have data on 4/9. I don't know what is wrong. Justin Delp realized our vitual machine was full and added space around 4/9. Data is in the Webctrl, just not getting to our database.

Regards, Eileen

[2019-04-17 12:13] carlosparadis commented on #29
@ryantanaka May want to check the timestamps on scrape-util so it doesn't skip any data. It's strange some sensors have data and others don't, considering scrape-util is a single cron-job. I would imagine something went wrong on these for this weird behavior.

[2019-04-21 03:54] ryantanaka commented on #29
@carlosparadis, right i will take a look at those.
ATM i have scrape-util off (cronjob won't be running), and I will be manually running it and looking at its output so I can see where the database inserts fail (or if there is problems pulling from sensors).

[2019-04-21 22:01] eileenpeppard commented on #29
Thanks, Ryan.

[2019-04-23 21:07] kathrynparadis commented on #27
Sara recently asked us to check this again because the whole building data was bad for the same time period.

Eileen's "Notes on Data" document with her notes for the Frog buildings from the same day as my previous post on this Github issue do not match. Her notes say that the Whole building net (purpose_id: 40, 50, 96, and 109) data was bad, while my previous post says Whole building net egauge (

[2019-04-24 10:14] ryantanaka commented on #29
@carlosparadis, some things that I have so far.

There was one error that came up that I don't understand. This happened once, and I was able to run scrape-util without doing anything. Just as a note, this is the output:

<img width="1680" alt="Screen Shot 2019-04-23 at 11 23 50 PM" src="https://user-images.githubusercontent.com/19616012/56649808-8a320a80-6621-11e9-8a1a-900df771aec6.png">

When th

[2019-04-24 21:52] ryantanaka commented on #29
Notes:

`frog-1-ceiling-fans-avg-kw = 1552162500.0` (Saturday, March 9, 2019 10:15:00 AM GMT-10:00) fast forwarding to `1554717600` (Monday, April 8, 2019 12:00:00 AM GMT-10:00)

[2019-05-10 01:17] kathrynparadis opened #30 "New Window Sensors to add to Scrap-util"
Insert new window sensors into the scrap-util:

Frog 1 (purpose_id 118):
ABSPATH:1:#frog1_duct_sensors_1/window_open_tr

Frog 2 (purpose_id 119):
ABSPATH:1:#frog2_duct_sensors/window_open_tr

[2019-05-10 01:32] kathrynparadis commented on #30
@carlosparadis

[2019-05-13 09:00] carlosparadis commented on #30
I just updated the files, so sensor data should be coming in. @eileenpeppard Please confirm.

Sensors were added per the notes I've done for the previous sensors at: https://github.com/erdl/scrape_util_configs/wiki

@ryantanaka I don't know why we have a csbcd-configs folder and another one for the actual configs being used by the tool. Any idea? As it stands, both are versioned, and pointing to t

[2019-05-14 06:33] carlosparadis commented on #30
I verified the data is not coming in. And I believe I found the problem:

<img width="554" alt="Screenshot 2019-05-13 20 31 30" src="https://user-images.githubusercontent.com/17270563/57675609-28304980-75be-11e9-8b2a-375e52d85171.png">

@eileenpeppard The readings table reading column expects a double, but we are receiving TRUE or FALSE from Webctrl. This needs to be changed at the source to be nu

[2019-05-14 20:06] carlosparadis commented on #30
From Eileen today:

[2019-05-15 00:05] ryantanaka commented on #30
@carlosparadis, you are correct, we left out anything with sensitive information and versioned everything else. If one of the files you had to change was not versioned for that reason, I would have done the same and updated it directly in the server too.

[2019-05-15 00:37] eileenpeppard commented on #30
Jason Forrester of Island Controls did fix it for us - I confirmed it is now giving a 0 or 1 every five minutes.  It looks like he kept the same names:
ABSPATH:1:#frog1_duct_sensors_1/window_open_tr
ABSPATH:1:#frog2_duct_sensors/window_open_tr

Here was his email:
Okay so I made it every 5 minutes, *however* there's not any way that I'm aware of to make the 'digital' trend point numeric.
What I *c

[2019-05-15 00:41] carlosparadis commented on #30
@eileenpeppard I'm not sure I understand what he said there:

So I think what he is saying is, he will receive the data as-is in webctrl, and **inside webctrl** transform it into 0 and 1 before **storing in webctrl**. Is this correct?

If the names needs be changed I can modify it easily. What is important is that **all data sitting in webctrl under this ABSPATH is consistently 0 and 1**.

I have

[2019-05-15 00:43] carlosparadis commented on #30
@ryantanaka Can you confirm, for the sake of upfront potential need, if Forrest ever identified a portion of his code to do this kind of transformation before storing the data? Did you ever spot such a thing?

[2019-05-15 01:24] eileenpeppard commented on #30
Carlos, I've checked the data and it looks trying to attach screenshot.
 [good.[](url)](url
![window data](https://user-images.githubusercontent.com/29083044/57742275-3339b700-765c-11e9-9e16-cec17b3e2556.JPG)
)

[2019-05-15 01:25] eileenpeppard commented on #30
You should not have to transform data, it's good to go. Jason managed it on Webctrl.

[2019-05-15 01:44] eileenpeppard opened #31 "Outdoor lights labelled wrong in database, Eileen corrected"
Hi, Guys. NO ACTION NEEDED. Just recording for reference

Jim just installed the outdoor lights, so we should be getting data and are not.
ABSPATH:1:#powerscout_frog_1f/kw_avg_phase_a_tn
ABSPATH:1:#powerscout_frog_2f/kw_avg_phase_a_tn

Data was labeled wrong in the database. These lights are actually mapped to powerscount F phase A and the database had outdoor lights mapped to E phase A.  I will r

[2019-05-15 02:04] kathrynparadis commented on #30
Just to keep track of this:

On WebCtrl, Jason deleted the old sensor (the one that had True/False data from 2019-04-16), and recreated it as the same sensor name, but with a new data type (0's and 1's). So the data from before today (2019-05-04) is completely gone.

[2019-05-15 02:15] eileenpeppard commented on #30
Yes, exactly!  I guess he couldn't mix data types either.

[2019-05-15 03:05] carlosparadis commented on #30
@eileenpeppard the data has been added to scrape-util and is now in the database. Found a couple more issues with this scrap that I need to add here in the interest of saving the next poor soul adding sensors a few lifetime hours.

[2019-05-15 03:10] carlosparadis commented on #30
@ryantanaka please follow-up on confirming me what I asked on scrape-utils having any separate code file that allows for transformations based on what I read in the code, in case we come to need this in the future when you're no longer around. I will close the issue after I hear back from you.

[2019-05-15 03:12] carlosparadis commented on #31
@eileenpeppard If you need, I can find out on the server what is the ABSPATH of purpose id 92 and 105, so you can locate the sensors in webctrl instead of leaving them as "unknown". Let me know.

[2019-05-15 03:30] carlosparadis opened #32 "Adding sensors in scrape-util require manual change of initial timestamp"
When adding the webctrl sensors to #30, the steps described in the [config wiki](https://github.com/erdl/scrape_util_configs/wiki) were followed, but sensors would still not work.

Additionally, inspecting the state timestamp of the individual sensors `/var/local/scrape-util/projects/uhm-frog/state-files`, suggested the sensors were not being added to the state file, as their names did not appear.

[2019-05-16 20:52] eileenpeppard commented on #31
I know the abspath, I don't know what the current transducers are measuring in the building - on the circuit breakers. There's no problem on your end.

[2019-05-16 21:02] #31 closed, assigned to eileenpeppard

[2019-05-22 00:40] eileenpeppard opened #33 "purpose_id 29 not updated since mid-March"
Hi, Guy.

Just one sensor had not been updated. ID 29,
Query string:  ABSPATH:1:#netzero_weather_conditions/barometer_tn
Last timestamp in database 2019-03-16 10:20:00
I've checked Webctrl and it's there.
Not top priority but should get fixed. Thanks a million.

Eileen

[2019-05-22 00:49] carlosparadis commented on #33
@eileenpeppard can you confirm if this was the date where the server belly up due to lack of storage space? Just for reference to potential cause, this happened.

[2019-05-22 01:02] eileenpeppard commented on #33
Yes, it was the same time. For some reason it didn't catch up with the rest of the sensors.

[2019-05-22 01:35] carlosparadis commented on #29
@ryantanaka hey ryan, we are having a follow-up problem of this on #33. Any chance you can post what you spent time on your diagnosis? It's been almost a month now :') I worry you will forget the details, if not already.

[2019-05-22 06:05] carlosparadis commented on #33
Timestamp on state file was = 1552162500.0 (03/09/2019). Changed to 03/15/2019 @ 12:00am (1552608000). It didn't fix. I have no idea as it stands on what is going wrong. At this point, I think I will just move with @matthew-schultz the code to production at the end of next week, and get over with spending time on this code.

Also, when running manually, sometimes the code works, sometimes it doesn

[2019-05-22 06:19] carlosparadis commented on #33
Made another attempt, now moving timestamp to 1552731660, 2019-03-16 10:**21**:00, one minute ahead of the last reading timestamp reported by Eileen.  After the last run, the state timestamp was 1552162500.0, which is 03/09/2019.

Scrape-utils threw another error:

[code]

Let's see how many more I can get tonight. Data still does not upload.

[2019-05-22 06:23] carlosparadis commented on #33
Now attempting the reading timestamp suggested by Ryan on #29 (1554717600.0 (Monday, April 8, 2019 12:00:00 AM GMT-10:00) on [this comment](https://github.com/erdl/legacy-scrape-util/issues/29#issuecomment-486162341).

Solution worked and data finally was populated on the database. However, there is due to this now a data gap. If according to @eileenpeppard  the latest timestamp was 2019-03-16 10:

[2019-05-22 06:36] carlosparadis commented on #29
Based on what I diagnosed from #33, and what was written on this issue log, my current best assumption is that because the state timestamp ended up **before** the most recent reading timestamp in the database, it assumes, wrongly, "no new data is available". And there stays forever assuming that, since the state timestamp will never be updated.

The suggestion by Ryan above, to force the timestamp

[2019-05-27 05:33] ryantanaka commented on #30
@carlosparadis, from what I can see we are not transforming any of the values that end up in the `reading` column of the `reading` table.

Based on `field-remap.toml` and `value-remap.toml` in `/usr/local/lib/scrape-util/tmp/projects/uhm-frog`the only conversion that I can see is making timestamps into ints (see line 11 of value-remap.toml).

[2019-05-27 20:25] carlosparadis commented on #30
@ryantanaka thanks! I had some faint memory it was somewhere. Closing this issue!

[2019-05-27 20:25] #30 closed, assigned to carlosparadis

[2019-05-27 20:25] carlosparadis commented on #33
Eileen confirmed it was fine. Closing this.

[2019-05-27 20:25] #33 closed, assigned to carlosparadis

[2019-05-27 20:26] carlosparadis commented on #28
@ryantanaka did we address this? can i close?